useDynLib(envnames, .registration=TRUE)

#export(testenv)				# Used for testing the search for environments defined in a package (see global_definitions.r)
export(address)
export(environment_name)
export(get_env_name)
export(get_env_names)
export(get_fun_calling)
export(get_fun_calling_chain)
export(get_fun_env)
export(get_fun_name)
export(get_obj_address)
export(get_obj_name)
export(get_obj_value)
export(obj_find)
