useDynLib(envnames, .registration=TRUE)

export(address)
export(environment_name)
export(get_calling_chain)
export(get_obj_address)
export(get_obj_name)
export(get_env_name)
export(get_env_names)
export(get_fun_name)
export(obj_find)
